
.header{
	background: black;
	padding: 20px;
	color: white;
	width: 100%;
position: fixed;
z-index: 1;
display: inline-block;
}
.header h1{
	font-family:'WindSong', sans-serif ;
	text-align: center;
}
.header input{
	    flex:1;

    height: 30px;
    background: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    color:#333;
    border-radius: 5px;
    width: 250px;
    margin-left: -30px;
}
#home{
	color: white;
	margin-left: 20px;
	text-decoration: none;


}
#home:hover{
border-bottom: 1px solid white;
padding-bottom:10px ;
	

}

::placeholder{
    color: #555;
}

.header .rezultat ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
    background-color: white;


}
.header .rezultat ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;

}
.header .rezultat ul li:hover{
background-color:#e9f3ff;
text-decoration: none;

}
.header .rezultat{
max-height: 300px;
overflow-y: scroll;
}

.main{
	padding-top:175px ;
	padding-bottom:115px ;
	background-image: url('../Slike/d.jpeg');

	
	
}

.main .obuka{
	background-color:black ;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
text-align: center;
color: white;
padding-bottom: 40px;
transition: 0.3s;
margin-top:58px;
transform:rotateY(0deg);
height:450px ;
}
.main .obuka:hover{
	background-color: #FFCE00;
	cursor: pointer;
	margin-top: 38px;
	color: black;
}
.main .obuka h2{
	background-color: #FFCE00;
	
}
.main .obuka img{
width: 180px;
height: 200px;
}
.main .obuka h4{
text-transform: uppercase;
}
.main .obuka p{
color: #whitesmoke;
}
.main .obuka a{
margin-top: 20px;
text-transform: uppercase;
color: white;
display: inline-block;
border: 2px solid white;
padding: 5px;

}
.main .obuka:hover a{
color: black;

}

.main .drop{
	display: inline-block;
}
.main .drop button{
	
	
	padding: 10px 15px;
	background-color: transparent;
	cursor: pointer;
}
.main .obuka:hover .drop button{
	color: black;
	
	background-color: transparent;
}
.main .drop button i{
	
	background-color: transparent;
}

.main .drop a{
	display: block;
	color: black;
	text-decoration: none;
	padding: 10px 15px;

}
.main .drop .kontent{
	background-color: #fff;
	position: absolute;
	min-width: 100px;
	box-shadow: 2px 2px 5px black;
	display: none;
}
.main .drop:hover .kontent{
	display: block;
	

}
.main .drop:hover button{
	background-color:white ;
	color: white;

}
.main .drop a:hover{
	background-color: black;
	color: white;
}
#id{
	border: 1px solid white;
	text-decoration: none;
	padding-bottom: 14px;
	text-transform: none;
}
.Faq{
	background-color: black;
	color: white;
	padding: 100px;
}
.Faq .levo-faq img{
	height: 500px;
	width: 300px;
	margin-left: -15px;
}

.Faq h4{
	border-top: 1px dashed; white;
	padding-top: 15px;
}


footer{
	border-top: 1px solid white;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
	color: white;
	background-color: black;
}


footer h1{
	font-family:'WindSong', sans-serif ;
	text-align: center;}

#LAGERCG{
	display: none;
}
.Video{
	border-top: 1px solid white;
	padding: 100px;
	background-color: black;
}
.Video h1{
	margin-top: 10px;
	margin-bottom: 30px;
	color: white;
	text-align: center;
	font-size: 50px;
}
.Video div img{
	margin: 5px;
}
.Video img{
	width: 650px;
	height: 450px;
	margin-bottom: 15px;
	padding: 10px;
}
.video1{
	padding: 5px;
}