
.header{
		background: black;
padding-bottom: -10px;
	color: white;
	width: 100%;

z-index: 1;
display: inline-block;



}
.header h1{
	font-family:'WindSong', sans-serif ;
	text-align: center;
}
.header input{
	    flex:1;
    height: 30px;
    background: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    color:#333;
    border-radius: 5px;
     width: 250px;
     margin-left: 10px;
     margin-bottom: 10px;
    
    
}
#pading{
	padding:20px;
}
#home{
	color: white;
	margin-left: 20px;
	text-decoration: none;


}
#home:hover{
border-bottom: 1px solid white;
padding-bottom:10px ;
	

}

::placeholder{
    color: #555;
}

.header .rezultat ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
    background-color: white;


}
.header .rezultat ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;

}
.header .rezultat ul li:hover{
background-color:#e9f3ff;
text-decoration: none;

}
.header .rezultat{
max-height: 300px;
overflow-y: scroll;
}
#red{
	width: 100%;
	margin-top: -10px;
}
.nesto{
	padding: 50px;
}
.nesto a{
	display: block;
	font-size: 20px;
	text-decoration: none;
	margin-top: 20px;
}

footer div{
	padding: 20px;
}
